/* SPDX-FileCopyrightText: 2022 Deren Vural */
/* SPDX-License-Identifier: GPL-3.0-or-later */

listview row box label {
  min-width: 195px;
}

spinbutton {
  margin: 10px;
}

grid#statistic_item_grid {
	outline-style: solid;
	outline-width: 1px;
	border-radius: 3px;
}
